@import "compass/reset"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)
@import "variables"
@import "typography"

body
  font-size: 62.5%
  font-family: $font
  width: 100%
  background-color: #222
.site-wrapper
  width: 100%
.left-side-holder
  background-image: url("../img/bg-1/t1-bg.jpg")
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  height: 60vh

.logo
  position: relative
  width: 330px
  height: 330px
  top: 20%
  img
    max-width: 100%
.menu-food
  background-image: url("../img/bg-1/t2-bg.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% 140%
    background-size: 140% 140%
.menu-drinks
  background-image: url("../img/bg-1/t3-bg.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% 140%
    background-size: 140% 140%
.menu-3
  background-image: url("../img/bg-1/t4-bg.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% 140%
    background-size: 140% 140%
.menu-4
  background-image: url("../img/bg-1/t5-bg.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% 140%
    background-size: 140% 140%
.content
  position: relative
  padding-top: 20%
  .fa
    font-size: 30px
    color: $base-color
  h3
    padding-top: 2%

.overlay:before
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: block
  z-index: 0
  background-color: rgba(0,0,0,0.4)

[class*='col-']
  padding-right: 0
  padding-left: 0
.row
  padding: 0
  margin: 0
.full
  padding-left: 0
  padding-right: 0

.menu-food-list, .menu-drinks-list
  position: relative
  background-color: #fbfcdc
  text-align: center
  border-bottom: 2px solid #444
  border-top: 2px solid #444
  display: none
  h2
    padding-top: 40px
    padding-bottom: 40px
    color: #2b2e4a
  p
    color: #2b2e4a
    padding-bottom: 50px
  .fa
    position: absolute
    font-size: 30px
    right: 3%
    top: 3%
    cursor: pointer

.place-inner
  position: relative
  padding-top: 20%
.place
  position: relative
  background-image: url("../img/bg-1/b1-bg.jpg")
  -webkit-background-size: cover
  background-size: cover
  text-align: center
  height: 36vh
  .fa
    font-size: 30px
  span
    vertical-align: super
    font-size: 12px

.phone
  position: relative
  background-image: url("../img/bg-1/b2-bg.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 36vh
.phone-inner
  position: relative
  text-align: center
  padding-top: 20%
  .fa
    color: #ffffff
    font-size: 30px
    text-shadow: 0 1px 3px #000
.mail
  position: relative
  background-image: url("../img/bg-1/b3-bg.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 36vh
.mail-inner
  position: relative
  text-align: center
  padding-top: 20%
  .fa
    font-size: 30px
    color: #ffffff
    text-shadow: 0 1px 3px #000
footer
  background-color: #222
  height: 4vh
  p
    font-size: 14px
.logo-footer
  width: 70px
  height: 20px
  margin-top: 8px
  margin-right: 20px
  float: right
  img
    max-width: 100%

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
  .fullheight
    height: 768px
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  .fullheight
    height: 1024px
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
  .fullheight
    height: 320px
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
  .fullheight
    height: 568px
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
  .fullheight
    height: 320px
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
  .fullheight
    height: 480px

@import "media"