@import "compass/reset"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)
@import "variables"
@import "typography"

body
  font-size: 62.5%
  font-family: $font
  width: 100%
  background-color: #222
.site-wrapper
  width: 100%
.left-side-holder
  background: url("../img/1.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 60vh

.logo
  position: relative
  width: 330px
  height: 330px
  top: 20%
  img
    max-width: 100%
.menu-food
  background: url("../img/3_1.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-drinks
  background: url("../img/3_2.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-3
  background: url("../img/3_3.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-4
  background: url("../img/3_4.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  height: 30vh
  text-align: center
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.content
  position: relative
  padding-top: 20%
  .fa
    font-size: 30px
    color: $base-color
  h3
    padding-top: 2%

.overlay:before
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: block
  z-index: 0
  background-color: rgba(0,0,0,0.4)

[class*='col-']
  padding-right: 0
  padding-left: 0
.row
  padding: 0
  margin: 0
.full
  padding-left: 0
  padding-right: 0

.place-inner
  position: relative
  padding-top: 20%
.place
  position: relative
  background: url("../img/6.jpg")
  -webkit-background-size: cover
  background-size: cover
  text-align: center
  height: 36vh
  .fa
    font-size: 30px
  span
    vertical-align: super
    font-size: 12px

.phone
  position: relative
  background: url("../img/9.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 36vh
.phone-inner
  position: relative
  text-align: center
  padding-top: 20%
  .fa
    color: #ffffff
    font-size: 30px
    text-shadow: 0 1px 3px #000
.mail
  position: relative
  background: url("../img/8.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 36vh
.mail-inner
  position: relative
  text-align: center
  padding-top: 20%
  .fa
    font-size: 30px
    color: #ffffff
    text-shadow: 0 1px 3px #000
footer
  background-color: #222
  height: 4vh
  p
    font-size: 14px
.logo-footer
  width: 70px
  height: 20px
  margin-top: 8px
  margin-right: 20px
  float: right
  img
    max-width: 100%

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
  .fullheight
    height: 768px
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  .fullheight
    height: 1024px
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
  .fullheight
    height: 320px
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
  .fullheight
    height: 568px
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
  .fullheight
    height: 320px
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
  .fullheight
    height: 480px

@import "media"