@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======= Typography */
/* line 2, ../sass/_typography.sass */
p {
  font-size: 1.4rem;
  line-height: 2.24rem;
  color: #F4F7F0;
}

/* line 7, ../sass/_typography.sass */
h1 {
  font-size: 4rem;
  color: #F4F7F0;
}

/* line 11, ../sass/_typography.sass */
h2 {
  font-size: 3.6rem;
  color: #F4F7F0;
}

/* line 15, ../sass/_typography.sass */
h3 {
  font-size: 2.8rem;
  color: #F4F7F0;
  font-weight: 400;
}

/* line 20, ../sass/_typography.sass */
h4 {
  font-size: 2.2rem;
  color: #F4F7F0;
  font-weight: 400;
}

/* line 25, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  color: #F4F7F0;
  font-weight: 400;
}

/* line 6, ../sass/style.sass */
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #222;
}

/* line 11, ../sass/style.sass */
.site-wrapper {
  width: 100%;
}

/* line 13, ../sass/style.sass */
.left-side-holder {
  background: url("../img/1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 60vh;
}

/* line 19, ../sass/style.sass */
.logo {
  position: relative;
  width: 330px;
  height: 330px;
  top: 20%;
}
/* line 24, ../sass/style.sass */
.logo img {
  max-width: 100%;
}

/* line 26, ../sass/style.sass */
.menu-food {
  background: url("../img/3_1.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 30vh;
  text-align: center;
  cursor: pointer;
  transition: background-size 1s ease;
  -moz-transition: background-size 1s ease;
  -ms-transition: background-size 1s ease;
  -o-transition: background-size 1s ease;
  -webkit-transition: background-size 1s ease;
}
/* line 41, ../sass/style.sass */
.menu-food:hover {
  -webkit-background-size: 140% auto;
  background-size: 140% auto;
}

/* line 44, ../sass/style.sass */
.menu-drinks {
  background: url("../img/3_2.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 30vh;
  text-align: center;
  cursor: pointer;
  transition: background-size 1s ease;
  -moz-transition: background-size 1s ease;
  -ms-transition: background-size 1s ease;
  -o-transition: background-size 1s ease;
  -webkit-transition: background-size 1s ease;
}
/* line 59, ../sass/style.sass */
.menu-drinks:hover {
  -webkit-background-size: 140% auto;
  background-size: 140% auto;
}

/* line 62, ../sass/style.sass */
.menu-3 {
  background: url("../img/3_3.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 30vh;
  text-align: center;
  cursor: pointer;
  transition: background-size 1s ease;
  -moz-transition: background-size 1s ease;
  -ms-transition: background-size 1s ease;
  -o-transition: background-size 1s ease;
  -webkit-transition: background-size 1s ease;
}
/* line 77, ../sass/style.sass */
.menu-3:hover {
  -webkit-background-size: 140% auto;
  background-size: 140% auto;
}

/* line 80, ../sass/style.sass */
.menu-4 {
  background: url("../img/3_4.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 30vh;
  text-align: center;
  cursor: pointer;
  transition: background-size 1s ease;
  -moz-transition: background-size 1s ease;
  -ms-transition: background-size 1s ease;
  -o-transition: background-size 1s ease;
  -webkit-transition: background-size 1s ease;
}
/* line 95, ../sass/style.sass */
.menu-4:hover {
  -webkit-background-size: 140% auto;
  background-size: 140% auto;
}

/* line 98, ../sass/style.sass */
.content {
  position: relative;
  padding-top: 20%;
}
/* line 101, ../sass/style.sass */
.content .fa {
  font-size: 30px;
  color: #F4F7F0;
}
/* line 104, ../sass/style.sass */
.content h3 {
  padding-top: 2%;
}

/* line 107, ../sass/style.sass */
.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 118, ../sass/style.sass */
[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 121, ../sass/style.sass */
.row {
  padding: 0;
  margin: 0;
}

/* line 124, ../sass/style.sass */
.full {
  padding-left: 0;
  padding-right: 0;
}

/* line 128, ../sass/style.sass */
.place-inner {
  position: relative;
  padding-top: 20%;
}

/* line 131, ../sass/style.sass */
.place {
  position: relative;
  background: url("../img/6.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 36vh;
}
/* line 138, ../sass/style.sass */
.place .fa {
  font-size: 30px;
}
/* line 140, ../sass/style.sass */
.place span {
  vertical-align: super;
  font-size: 12px;
}

/* line 144, ../sass/style.sass */
.phone {
  position: relative;
  background: url("../img/9.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 36vh;
}

/* line 150, ../sass/style.sass */
.phone-inner {
  position: relative;
  text-align: center;
  padding-top: 20%;
}
/* line 154, ../sass/style.sass */
.phone-inner .fa {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0 1px 3px #000;
}

/* line 158, ../sass/style.sass */
.mail {
  position: relative;
  background: url("../img/8.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 36vh;
}

/* line 164, ../sass/style.sass */
.mail-inner {
  position: relative;
  text-align: center;
  padding-top: 20%;
}
/* line 168, ../sass/style.sass */
.mail-inner .fa {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 1px 3px #000;
}

/* line 172, ../sass/style.sass */
footer {
  background-color: #222;
  height: 4vh;
}
/* line 175, ../sass/style.sass */
footer p {
  font-size: 14px;
}

/* line 177, ../sass/style.sass */
.logo-footer {
  width: 70px;
  height: 20px;
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
/* line 183, ../sass/style.sass */
.logo-footer img {
  max-width: 100%;
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 189, ../sass/style.sass */
  .fullheight {
    height: 768px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 192, ../sass/style.sass */
  .fullheight {
    height: 1024px;
  }
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* line 196, ../sass/style.sass */
  .fullheight {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* line 199, ../sass/style.sass */
  .fullheight {
    height: 568px;
  }
}
/* iPhone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 203, ../sass/style.sass */
  .fullheight {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 206, ../sass/style.sass */
  .fullheight {
    height: 480px;
  }
}
/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
